<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head') %>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SignUp</title>
   
    <style>
        body {
            background-color: #f8f9fa;
            padding-top: 3rem;
        }
        .container {
            max-width: 400px;
            background-color: #fff;
            padding: 30px;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }
        .form-group {
            margin-bottom: 20px;
        }
        .btn-primary {
            width: 100%;
        }
        /* Dark mode */
        body.dark-mode {
            background-color: #343a40; /* Dark background color */
            color: #fff; /* Light text color */
        }
        body.dark-mode .container {
            background-color: #343a40; /* Dark container background color */
            color: #fff; /* Light text color */
        }
        /* Dark mode toggle button */
        #dark-mode-toggle {
            position: fixed;
            bottom: 20px;
            right: 20px;
            z-index: 1000;
            transition: transform 0.3s ease;
        }
        #dark-mode-toggle:hover {
            transform: scale(1.1);
        }
    </style>
</head>
<body>
    <%- include('./partials/nav') %>

    <div class="container">
        <h2 class="mb-4">Sign Up</h2>
        <form action="/user/signup" method="POST"> 
            <div class="form-group">
                <label for="fullName">Full Name</label>
                <input type="text" class="form-control" id="fullName" name="fullName" placeholder="Enter your full name" required> <!-- Added 'required' attribute -->
            </div>
            <div class="form-group">
                <label for="email">Email address</label>
                <input type="email" class="form-control" id="email" name="email" placeholder="Enter email">
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control" id="password" name="password" placeholder="Password">
            </div>
            <button type="submit" class="btn btn-primary">Sign Up</button>
        </form>
    </div>

  

    <%- include('./partials/script') %>

  
</body>
</html>
